<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="logotipo" color="white" slot="start">
      Instagram
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="heart"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
  </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="gridcentral">
    <ion-row>
      <ion-col size="12" size-md="12" size-lg="12">
        <ion-slides>
            <ion-slide class="ion-padding-vertical">
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
            </ion-slide>
            <ion-slide class="ion-padding-vertical">
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
            </ion-slide>
            <ion-slide class="ion-padding-vertical">
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
              <ion-fab-button>
                <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
              </ion-fab-button>
            </ion-slide>
          </ion-slides>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="divcard">
          <ion-card>
           <ion-card-header>
             <ion-toolbar class="usuariopublicacion">
               <ion-title class="usuariopublicacion" style="margin-left: 5% !important;"><ion-icon name="person-circle"></ion-icon> javiloves99 </ion-title>
                 <ion-buttons slot="end">
                   <ion-button>
                     <ion-icon name="ellipsis-vertical-outline"></ion-icon> 
                   </ion-button>
                 </ion-buttons>
             </ion-toolbar>
           </ion-card-header>
           <ion-card-content>
             <div class="publicacion">
               <img src="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T210A1PA4301PT17X40Y61D1016839396W25007H14510/views/1,width=550,height=550,appearanceId=1,backgroundColor=FFFFFF,noPt=true/i-love-java-hello-world-geschenkidee-mens-t-shirt.jpg">
             </div>
             <div class="piepublicacion">
               
                 <ion-grid>
                   <ion-row>
                     <ion-col> <ion-fab-button class="fotop1" size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop2"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop3"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button></ion-col>
                     <ion-col><p>Liked by <strong>javiloves99</strong> and <strong>100,000 others</strong></p></ion-col>
                   </ion-row>
                 </ion-grid>
             </div>
           </ion-card-content> 
         </ion-card> 
       </div> 
      </ion-col>
      <ion-col  size="12" size-md="6" size-lg="4">
        <div class="divcard">
          <ion-card>
           <ion-card-header>
             <ion-toolbar class="usuariopublicacion">
               <ion-title class="usuariopublicacion" style="margin-left: 5% !important;"><ion-icon name="person-circle"></ion-icon> javiloves99 </ion-title>
                 <ion-buttons slot="end">
                   <ion-button>
                     <ion-icon name="ellipsis-vertical-outline"></ion-icon> 
                   </ion-button>
                 </ion-buttons>
             </ion-toolbar>
           </ion-card-header>
           <ion-card-content>
             <div class="publicacion">
               <img src="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T210A1PA4301PT17X40Y61D1016839396W25007H14510/views/1,width=550,height=550,appearanceId=1,backgroundColor=FFFFFF,noPt=true/i-love-java-hello-world-geschenkidee-mens-t-shirt.jpg">
             </div>
             <div class="piepublicacion">
               
                 <ion-grid>
                   <ion-row>
                     <ion-col> <ion-fab-button class="fotop1" size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop2"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop3"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button></ion-col>
                     <ion-col><p>Liked by <strong>javiloves99</strong> and <strong>100,000 others</strong></p></ion-col>
                   </ion-row>
                 </ion-grid>
             </div>
           </ion-card-content> 
         </ion-card> 
       </div> 
      </ion-col>
      <ion-col  size="12" size-md="6" size-lg="4">
        <div class="divcard">
          <ion-card>
           <ion-card-header>
             <ion-toolbar class="usuariopublicacion">
               <ion-title class="usuariopublicacion" style="margin-left: 5% !important;"><ion-icon name="person-circle"></ion-icon> javiloves99 </ion-title>
                 <ion-buttons slot="end">
                   <ion-button>
                     <ion-icon name="ellipsis-vertical-outline"></ion-icon> 
                   </ion-button>
                 </ion-buttons>
             </ion-toolbar>
           </ion-card-header>
           <ion-card-content>
             <div class="publicacion">
               <img src="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T210A1PA4301PT17X40Y61D1016839396W25007H14510/views/1,width=550,height=550,appearanceId=1,backgroundColor=FFFFFF,noPt=true/i-love-java-hello-world-geschenkidee-mens-t-shirt.jpg">
             </div>
             <div class="piepublicacion">
               
                 <ion-grid>
                   <ion-row>
                     <ion-col> <ion-fab-button class="fotop1" size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop2"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button>
                         <ion-fab-button class="fotop3"size="small">
                           <img src="https://pbs.twimg.com/profile_images/1530111730419892225/UDfydRbf_400x400.jpg" />
                         </ion-fab-button></ion-col>
                     <ion-col><p>Liked by <strong>javiloves99</strong> and <strong>100,000 others</strong></p></ion-col>
                   </ion-row>
                 </ion-grid>
             </div>
           </ion-card-content> 
         </ion-card> 
       </div> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
